<p id="notice"><%= notice %></p>
<div class="section-header">
  <h1><%= @user_event.title %></h1>
</div>
<div class="card">
  <div class="card-body">
    <% if @user_event.main_image.attachment %>
      <%= image_tag @user_event.main_image.variant(resize: '500x'), style: 'height: 200px; width: 300px; object-fit: cover;' %>
    <% end %>
    <p>
      <strong>Title:</strong>
      <%= @user_event.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @user_event.description %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @user_event.date %>
    </p>
    <p>
      <strong>
        Video
      </strong>
    </p>
   <%= video_tag @user_event.video.service_url, size: "720x480", controls: true %>
    <p>
      <strong>Galería</strong>
    </p>
      <% @user_event.images.each do |image| %>
        <%= image_tag image.variant(resize: '500x'), style: 'height: 200px; width: 300px; object-fit: cover;' %>
      <% end %>
  </div>
</div>

<%= link_to 'Edit', edit_user_event_path(@user_event) %> |
<%= link_to 'Back', user_events_path %>
