<div class="col-lg-12 ">
	<h1 class="text-uppercase font-weight-bold-max" style="font-size: 50px; margin-bottom: -5px">Eventos realizados</h1>
	<div class="row pt-5">
		<% @past_events.each do |event| %>
			<div class="col-md-4 pt-2">
				<div class="card" style="width: 18rem;">
					<% if event.images.first.present? %>
						<%= image_tag event.images.first, style:'height: 160px; object-fit: cover;'%>
					<% else %>
						<%= image_tag asset_url("computador.png"), style:'height: 160px; object-fit: cover;'%>
					<% end %>
					<div class="card-body">
						<h5 class="card-title"><%= event.title %></h5>
						<p class="card-text"><%= event.description[0..25] + '...' %></p>
						<%= link_to "Ver", event_path(event), class: 'btn btn-primary btn-block' %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
<hr class="divider my-4">
<div class="col-lg-12 ">
	<h1 class="text-uppercase font-weight-bold-max" style="font-size: 50px; margin-bottom: -5px">Próximos eventos</h1>
	<div class="row pt-5">
		<% @next_events.each do |event| %>
			<div class="col-md-4 pt-2">
				<div class="card" style="width: 18rem;">
					<% if event.images.first.present? %>
						<%= image_tag event.images.first, style:'height: 160px; object-fit: cover;'%>
					<% else %>
						<%= image_tag asset_url("computador.png"), style:'height: 160px; object-fit: cover;'%>
					<% end %>
					<div class="card-body">
						<h5 class="card-title"><%= event.title %></h5>
						<p class="card-text"><%= event.description[0..25] + '...' %></p>
						<%= link_to "Ver", event_path(event), class: 'btn btn-primary btn-block' %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
