<p id="notice"><%= notice %></p>
<div class="section-header">
  <div class="text-uppercase font-weight-bold-max display-4 text-center"><%= @user_event.title %></div>
</div>
<div class="card">
  <div class="card-body">
    <p>
      <%= @user_event.description %>
    </p>
    <div class="text-center">
      <p>
        <strong>Galería</strong>
      </p>
      <div class='row'>
        <% @user_event.images.each do |image| %>
          <div class="col-lg-3 col-md-4 col-xs-6 thumb">  
            <a class="thumbnail" href="#" data-toggle="modal" data-title=""
              data-image="<%= url_for(image)%>"
              data-target="#image-gallery">
            <%= image_tag image, class: 'img-thumbnail' %>
            </a>
          </div>
        <% end %>
      </div>
    </div>
    <div class="text-right">
      <%= @user_event.date.strftime("%d-%m-%y") %>
    </div>
  </div>
</div>
<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="image-gallery-title"></h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
            </button>
        </div>
        <div class="modal-body">
            <img id="image-gallery-image" class="img-responsive col-md-12" src="">
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary float-left" id="show-previous-image">Anterior
            </button>

            <button type="button" id="show-next-image" class="btn btn-secondary float-right">Siguiente
            </button>
        </div>
      </div>
    </div>
  </div>

<%= link_to 'Back', root_path %>
