<p id="notice"><%= notice %></p>
<div class="card">
  <div class="card-body">
    <div class="section-header">
      <div class="text-uppercase font-weight-bold-max h1 text-center"><%= @user_event.title %></div>
    </div>
    <div class="col-md-12 text-center">
      <% if @user_event.main_image.attachment %>
          <%= image_tag @user_event.main_image.variant(resize: "x500"), style:'height: 400px; width: 400px; object-fit: cover;'%>
        <% else %>
          <%= image_tag asset_url("computador.png"), style:'height: 160px; object-fit: cover;'%>
        <% end %>
    </div>
    <div class="col-md-12 pt-4">
      <%= @user_event.description %>
    </div>
    <div class="col-md-12 text-center">
      <%= link_to "Descarga las bases aquí", @user_event.file, class: "h4" if @user_event.file.attached? %>
    </div>
    <% if @user_event.images.attached? %>
      <div class="text-center">
        <div class="h2 font-weight-bold pt-4">
          Galería
        </div>
        <div class='row'>
          <% @user_event.images.each do |image| %>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb">  
              <a class="thumbnail" data-toggle="modal" data-title=""
                data-image="<%= url_for(image)%>"
                data-target="#image-gallery">
              <%= image_tag image, class: 'img-thumbnail', style: "height: 250px; width: 250px; object-fit: cover;" %>
              </a>
            </div>
          <% end %>
        </div>
      </div>
      <% end %>
    <div class="text-right">
      <%= @user_event.date.strftime("%d-%m-%y") %>
    </div>
  </div>
</div>
<% if @user_event.date > Date.today %>
  <%= link_to 'Postular a este evento', new_postulation_path, class: 'btn btn-primary btn-block mb-2 mt-2' %>
<% end %>
<div class="modal fade" id="image-gallery" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="image-gallery-title"></h4>
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span>
            </button>
        </div>
        <div class="modal-body">
            <img id="image-gallery-image" class="img-responsive col-md-12" src="">
        </div>
        <div class="modal-footer">
            <%# <button type="button" class="btn btn-secondary float-left" id="show-previous-image">Anterior
            </button>

            <button type="button" id="show-next-image" class="btn btn-secondary float-right">Siguiente
            </button> %>
        </div>
      </div>
    </div>
  </div>
<div class="text-md-center">
  <%= link_to 'Volver', events_path %>
</div>
