<p id="notice"><%= notice %></p>
<div class="section-header">
  <div class="text-uppercase font-weight-bold-max display-4 text-center"><%= @user_event.title %></div>
</div>
<div class="card">
  <div class="card-body">
    <p>
      <%= @user_event.description %>
    </p>
    <div class="text-center">
      <p>
        <strong>Galería</strong>
      </p>
      <% @user_event.images.each do |image| %>
        <%= image_tag image.variant(resize: '286>x160'), style: 'height: 200px; width: 300px; object-fit: cover;' %>
      <% end %>
    </div>
    <div class="text-right">
      <%= @user_event.date.strftime("%d-%m-%y") %>
    </div>
  </div>
</div>

<%= link_to 'Back', root_path %>
