<p id="notice"><%= notice %></p>
<div class="section-header">
  <h1>Postulaciones</h1>
</div>
<div class="section-body center">
  <div class="card">
    <div class="card-header">
      <h4>Lista de postulaciones</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-md">
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Evento</th>
            <th colspan="3"></th>
          </tr>
          <% @postulations.each do |postulation| %>
            <tr>
              <td><%= postulation.name %></td>
              <td><%= postulation.lastname %></td>
              <td><%= postulation.email %></td>
              <td><%= postulation.user_event.title %></td>
              <td><%= link_to 'Ver', user_postulation_path(postulation), class: 'btn btn-success' %>
              <%= link_to 'Eliminar', user_postulation_path(postulation), class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

