<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @postulation.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @postulation.lastname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @postulation.email %>
</p>

<p>
  <strong>Stand:</strong>
  <%= @postulation.stand %>
</p>

<p>
  <strong>Teléfono:</strong>
  <%= @postulation.phone %>
</p>

<p>
  <strong>Mensaje:</strong>
  <%= @postulation.message %>
</p>

<p>
  <strong>Evento:</strong>
  <%= @postulation.user_event.title %>
</p>

<% @postulation.images.each do |image| %>
  <%= image_tag image.variant(resize: '500x'), style: 'height: 200px; width: 300px; object-fit: cover;' %>
<% end %>

<br>
<%= link_to 'Back', user_postulations_path %>
