<p id="notice"><%= notice %></p>
<div class="section-header">
  <h1>Miembros</h1>
</div>
<div class="section-body center">
  <div class="card">
    <div class="card-header">
      <h4>Lista de miembros</h4>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-md">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Acciones</th>
          </tr>
          <% @user_members.each do |user_member| %>
            <tr>
              <td><%= user_member.id %></td>
              <td><%= user_member.name + ' ' + user_member.lastname %></td>
              <td><%= user_member.email%></td>
              <td><%= user_member.phone %></td>
              <td><%= link_to 'Ver', user_member, class: 'btn btn-success' %>
              <%= link_to 'Editar', edit_user_member_path(user_member), class: 'btn btn-primary' %>
              <%= link_to 'Eliminar', user_member, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </table>
        <%= link_to 'Nuevo membero', new_user_member_path %>
      </div>
    </div>
  </div>
</div>
