<p id="notice"><%= notice %></p>
<div class="section-header">
  <h1><%= @user_member.name + ' ' + @user_member.lastname %></h1>
</div>
<div class="card">
  <div class="card-body">
    <p>
      <strong>Nombre:</strong>
      <%= @user_member.name + ' ' + @user_member.lastname %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= @user_member.email %>
    </p>

    <p>
      <strong>Reseña:</strong>
      <%= @user_member.summary %>
    </p>

    <p>
      <strong>Teléfono:</strong>
      <%= @user_member.phone %>
    </p>
  </div>
</div>

<%= link_to 'Edit', edit_user_member_path(@user_member) %> |
<%= link_to 'Back', user_members_path %>
