<div class="row align-items-center justify-content-center text-left">
	<div class="col-lg-5 col-sm-12">
		<h1 class="text-uppercase font-weight-bold-max display-4">Plataforma</h1>
		<h5 class="text-uppercase font-italic font-weight-bold text-yellow mb-5">de cultura urbana</h5>
		<p class="font-weight-light">Intervenimos la ciudad, creando un lenguaje narrado y colorido, generando identidad y apropiación por parte de la comunidad, mediante las intervenciones artísticas y culturales. </p>
		<div class="text-center">
			<%= link_to 'Ver más', events_path, class: 'btn btn-primary text-center', style: 'border-radius: 12rem;' %>
		</div>
	</div>
	<div class="col-lg-7 col-sm-6 pt-4">
	<%= image_tag asset_url("header.png"), class: 'img-fluid'%>
		<%# border-radius: 15px 50px;  %>
	</div>
</div>
<hr class="divider my-4">
<div class="col-lg-12 ">
	<h1 class="text-uppercase font-weight-bold-max display-4">Partitura cultural</h1>
	<div class="row pt-5">
		<% @events.each do |event| %>
			<div class="col-md-4 pt-2">
				<div class="card" style="width: 18rem;">
					<% if event.main_image.attachment %>
						<%= image_tag event.main_image, style:'height: 160px; object-fit: cover;'%>
					<% else %>
						<%= image_tag asset_url("computador.png"), style:'height: 160px; object-fit: cover;'%>
					<% end %>
					<div class="card-body">
						<h5 class="card-title"><%= event.title %></h5>
						<p class="card-text"><%= event.description[0..25] + '...' %></p>
						<%= link_to "Ver", event_path(event), class: 'btn btn-primary btn-block' %>
					</div>
				</div>
			</div>
		<% end %>
	</div>
</div>
