<div class="container">
	<div class="row align-items-center justify-content-center text-left">
		<div class="col-lg-5 ">
			<h1 class="text-uppercase font-weight-bold-max" style="font-size: 100px; margin-bottom: -5px">talca</h1>
			<h5 class="text-uppercase font-italic font-weight-bold text-yellow mb-5">ciudad cultural</h5>
			<p class="font-weight-light mb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus, odio non imperdiet placerat, odio nibh varius tellus, nec condimentum risus lectus ut dolor. </p>
			<button class="btn btn-primary" style="border-radius: 12rem;">Ver más</button>
		</div>
		<div class="col-lg-7">
		<%= image_tag asset_url("header.png")%>
			<%# border-radius: 15px 50px;  %>
		</div>
	</div>
</div>
<hr class="divider my-4">
<div class="container">
	<div class="col-lg-12 ">
		<h1 class="text-uppercase font-weight-bold-max" style="font-size: 70px; margin-bottom: -5px">Próximos Eventos</h1>
		<div class="row pt-5">
			<% @events.each do |event| %>
				<div class="col-md-4 pt-2">
					<div class="card" style="width: 18rem;">
						<% if event.images.first.present? %>
							<%= image_tag event.images.first, style:'height: 160px; object-fit: cover;'%>
						<% else %>
							<%= image_tag asset_url("computador.png"), style:'height: 160px; object-fit: cover;'%>
						<% end %>
						<div class="card-body">
							<h5 class="card-title"><%= event.title %></h5>
							<p class="card-text"><%= event.description[0..25] + '...' %></p>
							<%= link_to "Ver", event_path(event), class: 'btn btn-primary btn-block' %>
						</div>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>