<!DOCTYPE html>
<html>
  <head>
    <title>La Ciudad Cultural</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= stylesheet_link_tag    'frontend', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'frontend', 'data-turbolinks-track': 'reload' %>
  </head>

 <body id="page-top col-lg-12">

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light pt-4" id="mainNav">
    <div class="container align-items-start">
      <a class="navbar-brand js-scroll-trigger" href="/"></a><%= link_to (image_tag asset_url("logo.png"), class: 'img', style: 'max-height: 80px'), root_path %>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0 pr-4">
          <li class="nav-item">
            <%= link_to "Somos", members_path, class:'nav-link js-scroll-trigger'%>
          </li>
          <li class="nav-item">
            <%= link_to "Eventos", events_path, class:'nav-link js-scroll-trigger'%>
          </li>
          <li class="nav-item">
            <%= link_to "Talca ciudad cultural", talca_path, class:'nav-link js-scroll-trigger'%>
          </li>
          <li class="nav-item">
            <%= link_to "Contacto", contact_path, class:'nav-link js-scroll-trigger'%>
          </li>
        </ul>
        <%= link_to "Únete", work_with_us_path, class:'btn btn-primary', style: 'border-radius: 12rem;'%>
      </div>
    </div>
  </nav>
  <div class="container">
    <p class="notice alert-success"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </div>
  <footer id="sticky-footer" class="py-4 bg-light text-dark-50">
    <div class="container text-center">
      <small>Copyright &copy; La Ciudad Cultural</small>
    </div>
  </footer>
</body>
</html>
